.no-margin {
  margin: 0;
}
.margin-top {
  margin-top: 1rem;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.no-list-style {
  list-style: none;
}
body {
  background-color: #f6efdf;
  color: #263345;
}
a {
  color: #e94e77;
}
header {
  background-color: rgba(255,255,255,0.5);
}
a {
  font-weight: 500;
  padding-bottom: 0.25rem;
  border-bottom: 3px solid transparent;
  transition: all ease-in-out 0.2s;
}
a:hover {
  border-bottom: 3px solid;
}
nav li.menu-item {
  display: inline-block;
}
nav li.menu-item a {
  border: none;
  display: block;
  font-weight: normal;
  padding: 0.75rem;
  text-decoration: none;
}
nav li.menu-item a:hover {
  background-color: rgba(255,255,255,0.5);
}
