primaryColorLst = #F4A6BB
primaryColorLer = #EE7A99
primaryColor = #E94E77
primaryColorDer = #AE3A59
primaryColorDst = #74263B

scndColorLst = #E2F2EC
scndColorLer = #D4EBE2
scndColor = #C6E5D9
scndColorDer = #94ABA2
scndColorDst = #62726C

thirdColorLst = #F9F4EA
thirdColorLer = #F6EFDF
thirdColor = #F4EAD5
thirdColorDer = #B6AF9F
thirdColorDst = #79746A

fontColor = #263345

translucentWhite = rgba(255,255,255,0.5)
translucentBlack = rgba(0,0,0,0.25)

body 
    background-color thirdColorLer
    color fontColor
    
a
    color primaryColor
    
header
    background-color translucentWhite