@import "margins.styl"
@import "helpers.styl"
@import "colors.styl"


a
    font-weight 500
    padding-bottom .25rem
    border-bottom 3px solid transparent
    transition all ease-in-out .2s
    
    &:hover
        border-bottom 3px solid
        
    
nav
    
    li.menu-item
        display inline-block
        
        a
            border none
            display block
            font-weight normal
            padding .75rem
            text-decoration none
            
            &:hover
                background-color translucentWhite
